* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafada;
  font-size: 1.2rem
}

nav {
display: flex;
justify-content: center;
height: 20%;
background: #ebd5f1;
padding: 0 20%
}

.logo_link {
  width: 10%;
}

.logo_link img {
  width: 100%;
}

#navbarNav {
  justify-content: space-between;
}

.login_items {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

main {
  padding: 1% 10%;
}

h1 {
  font-size: 1.4rem;
}

/* home */
.container {
  display: flex;
  height: 80vh;
}

.left-side, .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-side p {
  font-size: 1.4rem;
  font-weight: bold;
}

.left-side img, .right-side img {
  max-width: 100%;
  height: auto;
  display: block;
}


.button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #3d9970;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.button:hover, .login_button:hover {
  background-color: #094D2E;
  color: white;
  text-decoration: none;
}

.login {
  width: 40%;
  text-align: center;
}

.logout {
  width: 100%;
  padding: .5rem 2rem;
}

.title {
  color: #094D2E;
  margin-bottom: 2rem;
}

.subtitle {
  color: #094D2E;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
